<p id="notice"><%= notice %></p>

<h1>Simulations</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>User</th>
      <th>Score</th>
      <th>Exam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulations.each do |simulation| %>
      <tr>
        <td><%= simulation.start_time %></td>
        <td><%= simulation.end_time %></td>
        <td><%= simulation.user %></td>
        <td><%= simulation.score %></td>
        <td><%= simulation.exam %></td>
        <td><%= link_to 'Show', simulation %></td>
        <td><%= link_to 'Edit', edit_simulation_path(simulation) %></td>
        <td><%= link_to 'Destroy', simulation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation', new_simulation_path %>
