<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @simulation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @simulation.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @simulation.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @simulation.score %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @simulation.exam %>
</p>

<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', simulations_path %>
