<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @membership.start_date %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @membership.expire_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @membership.user %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @membership.plan %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
