<%= form_with(model: answer_list, local: true) do |form| %>
  <% if answer_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer_list.errors.count, "error") %> prohibited this answer_list from being saved:</h2>

      <ul>
      <% answer_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :answer_list_question_id %>
  </div>

  <div class="field">
    <%= form.label :alternative_id %>
    <%= form.text_field :alternative_id, id: :answer_list_alternative_id %>
  </div>

  <div class="field">
    <%= form.label :simulation_answer_id %>
    <%= form.text_field :simulation_answer_id, id: :answer_list_simulation_answer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
