<p id="notice"><%= notice %></p>

<h1>Answer Lists</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Alternative</th>
      <th>Simulation answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_lists.each do |answer_list| %>
      <tr>
        <td><%= answer_list.question %></td>
        <td><%= answer_list.alternative %></td>
        <td><%= answer_list.simulation_answer %></td>
        <td><%= link_to 'Show', answer_list %></td>
        <td><%= link_to 'Edit', edit_answer_list_path(answer_list) %></td>
        <td><%= link_to 'Destroy', answer_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer List', new_answer_list_path %>
