<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @answer_list.question %>
</p>

<p>
  <strong>Alternative:</strong>
  <%= @answer_list.alternative %>
</p>

<p>
  <strong>Simulation answer:</strong>
  <%= @answer_list.simulation_answer %>
</p>

<%= link_to 'Edit', edit_answer_list_path(@answer_list) %> |
<%= link_to 'Back', answer_lists_path %>
