<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @simulation_answer.user %>
</p>

<p>
  <strong>Simulation:</strong>
  <%= @simulation_answer.simulation %>
</p>

<%= link_to 'Edit', edit_simulation_answer_path(@simulation_answer) %> |
<%= link_to 'Back', simulation_answers_path %>
