<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @ticket.message %>
</p>

<p>
  <strong>Motive:</strong>
  <%= @ticket.motive %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
