<%= form_with(model: exam_question, local: true) do |form| %>
  <% if exam_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam_question.errors.count, "error") %> prohibited this exam_question from being saved:</h2>

      <ul>
      <% exam_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exam %>
    <%= form.text_field :exam, id: :exam_question_exam %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id, id: :exam_question_question_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
