<p id="notice"><%= notice %></p>

<p>
  <strong>Exam:</strong>
  <%= @exam_question.exam %>
</p>

<p>
  <strong>Question:</strong>
  <%= @exam_question.question %>
</p>

<%= link_to 'Edit', edit_exam_question_path(@exam_question) %> |
<%= link_to 'Back', exam_questions_path %>
