<p id="notice"><%= notice %></p>

<p>
  <strong>Statement:</strong>
  <%= @alternative.statement %>
</p>

<p>
  <strong>Question:</strong>
  <%= @alternative.question %>
</p>

<p>
  <strong>Veracity:</strong>
  <%= @alternative.veracity %>
</p>

<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
