<p id="notice"><%= notice %></p>

<p>
  <strong>Statement:</strong>
  <%= @solution.statement %>
</p>

<p>
  <strong>Question:</strong>
  <%= @solution.question %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
